*.d
*.so
*.bak
*.o
*~
*.pyc
*.log
*.aux
*.root
*.ps
*.eps
*.pdf
*.tex
*.toc
*.out
*.txt
.*.swp
#*
*.tar.bz2
*.callgrind
.*history
.gdb*
log
*.pars
x86*
cmt/Makefile
cmt/*.*sh
cmt/install*
standalone/.deps/*
standalone/.build/*
