#Scan likelihood
likelihoodScan	false

#MC models
sigModel		Standard
crossModel		SameMissID
partModel		Standard

#Combinatorial model
sameSlopesYears		false
sameSlopesModes		false
facSlopesYears		true
facSlopesModes		false
sameRatiosYears		true
sameRatiosModes		false
allKKConstraint		false

#Signal model
deltaM					true
deltaMYears				true
facBs					true
kSig(LL)   				1.	0.
kSig(LL)(2012X/2011)   	1.	0.
kSig(Bs)				1.	0.01
kSig(Bs)(2012X/2011)   	1.	0.
kSig(Kpi)(2011)			0.9	0.01
kSig(KK)(2011)			0.9	0.01
kSig(Mode)(2012X/2011) 	1.	0.

#Crossfeed model
crossFeedCriterion			true
crossFeedSameForPiK			true
crossFeedSameForYears		false
crossFeedSameForDDLL		false
crossFeedFacForYears		true
crossFeedSameFacForYears	false
crossFeedFacForDDLL			true
crossFeedFacForCF			false
crossFeedConstant			false
crossFeedFactor				5.

#Partially-reconstructed model
branchingRatios			 true
partRecoSameModes	 	 false
partRecoSameDDLL	 	 false
partRecoSameYears	 	 false
partRecoFacDDLL	 	 	 true
partRecoFacYears	 	 true
partRecoSameFacYears	 false
partRecoSamePiK		 	 true
partRecoConstant	 	 false
partRecoFactor		 	 10.

#Partially-reconstructed included

#pipi
Charmless-Bd		 pipi	true
Charmless-Bs		 pipi	true
Charmed-Bd		 	 pipi	true
Charmed-Bs		 	 pipi	true
Charmonia-Bd		 pipi	false
Charmonia-Bs		 pipi	false
MissGamNR-Bd		 pipi	true
MissGamNR-Bs		 pipi	false
MissGamRes-Bd		 pipi	true
MissGamRes-Bs		 pipi	false

Arbitrary-Bd-pi		 pipi	false
Arbitrary-Bs-pi		 pipi	false
Arbitrary-Bd-gam	 pipi	false
Arbitrary-Bs-gam	 pipi	false

#Kpi
Charmless-Bd		 Kpi	false
Charmless-Bs		 Kpi	true
Charmed-Bd		 	 Kpi	true
Charmed-Bs		 	 Kpi	true
Charmonia-Bd		 Kpi	false
Charmonia-Bs		 Kpi	false
MissGamNR-Bd		 Kpi	false
MissGamNR-Bs		 Kpi	false
MissGamRes-Bd		 Kpi	false
MissGamRes-Bs		 Kpi	false

Arbitrary-Bd-pi		 Kpi	false
Arbitrary-Bs-pi		 Kpi	false
Arbitrary-Bd-gam	 Kpi	false
Arbitrary-Bs-gam	 Kpi	false

#KK
Charmless-Bd		 KK			true
Charmless-Bs		 KK			false
Charmed-Bd		 	 KK			true
Charmed-Bs		 	 KK			false
Charmonia-Bd		 KK			false
Charmonia-Bs		 KK			false
MissGamNR-Bd		 KK			false
MissGamNR-Bs		 KK			false
MissGamRes-Bd		 KK			false
MissGamRes-Bs		 KK			false

Arbitrary-Bd-pi		 KK			false
Arbitrary-Bs-pi		 KK			false
Arbitrary-Bd-gam	 KK			false
Arbitrary-Bs-gam	 KK			false

#CrossFeeds included
Bd2KSpipi		Kpi		true
Bs2KSpipi		Kpi		false
Bd2KSpipi		KK		false
Bs2KSpipi		KK		false

Bd2KSKpi		pipi	true
Bs2KSKpi		pipi	true
Bd2KSKpi		KK		true
Bs2KSKpi		KK		true

Bd2KSKK			pipi	false
Bs2KSKK			pipi	false
Bd2KSKK			Kpi		true
Bs2KSKK			Kpi		false

Lb2KS0ppi		pipi	true
Lb2KS0ppi		piK		true
Lb2KS0ppi		Kpi		true
Lb2KS0ppi		KK		false

Lb2KS0pK		pipi	false
Lb2KS0pK		piK		true
Lb2KS0pK		Kpi		true
Lb2KS0pK		KK		true
