#MC models
sigModel		Standard
crossModel		SameMissID
partModel		Standard

#Combinatorial model
sameSlopesYears		false
sameSlopesModes		false
sameRatiosYears		true
sameRatiosModes		false

#Signal model
deltaM					true
deltaMYears				true
facBs					false
kSig(LL)   				1.	0.
kSig(LL)(2012X/2011)   	1.	0.
kSig(Bs)				1.	0.2
kSig(Bs)(2012X/2011)   	1.	0.
kSig(Kpi)(2011)			0.9	0.01
kSig(KK)(2011)			0.9	0.01
kSig(Mode)(2012X/2011) 	1.	0.

#Crossfeed model
crossFeedSameForPiK			true
crossFeedSameForYears		false
crossFeedSameForDDLL		true
crossFeedFacForYears		false
crossFeedSameFacForYears	false
crossFeedFacForDDLL			false
crossFeedFacForCF			false
crossFeedConstant			false

#Partially-reconstructed model	
partRecoSameDDLL	 	 false
partRecoSameYears	 	 false
partRecoFacDDLL	 	 	 false
partRecoFacYears	 	 false
partRecoSameFacYears	 false
partRecoSamePiK		 	 false
partRecoConstant	 	 false
partRecoFactor		 	 2.

#Partially-reconstructed included

#pipi
Charmless-Bd		 pipi	false
Charmless-Bs		 pipi	false
Charmed-Bd		 	 pipi	false
Charmed-Bs		 	 pipi	false
Charmonia-Bd		 pipi	false
Charmonia-Bs		 pipi	false
MissGamNR-Bd		 pipi	false
MissGamNR-Bs		 pipi	false
MissGamRes-Bd		 pipi	false
MissGamRes-Bs		 pipi	false

#Kpi
Charmless-Bd		 Kpi	false
Charmless-Bs		 Kpi	false
Charmed-Bd		 	 Kpi	false
Charmed-Bs		 	 Kpi	false
Charmonia-Bd		 Kpi	false
Charmonia-Bs		 Kpi	false
MissGamNR-Bd		 Kpi	false
MissGamNR-Bs		 Kpi	false
MissGamRes-Bd		 Kpi	false
MissGamRes-Bs		 Kpi	false

#KK
Charmless-Bd		 KK	false
Charmless-Bs		 KK	false
Charmed-Bd		 KK	false
Charmed-Bs		 KK	false
Charmonia-Bd		 KK	false
Charmonia-Bs		 KK	false
MissGamNR-Bd		 KK	false
MissGamNR-Bs		 KK	false
MissGamRes-Bd		 KK	false
MissGamRes-Bs		 KK	false

#CrossFeeds included

Bd2KSpipi		Kpi	false
Bs2KSpipi		Kpi	false
Bd2KSpipi		KK	false
Bs2KSpipi		KK	false

Bd2KSKpi		pipi	false
Bs2KSKpi		pipi	false
Bd2KSKpi		KK		false
Bs2KSKpi		KK		false

Bd2KSKK			pipi	false
Bs2KSKK			pipi	false
Bd2KSKK			Kpi		false
Bs2KSKK			Kpi		false

